/* .carousel-image-div {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.carousel-image {
    width: 100vw;
    height: 100vh;
} */

/* .splash-background {
    background-image: url(https://i.imgur.com/I846Afe.jpeg);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
} */