:root {
    --primary-color: rgb(28, 145, 101);
    --secondary-color: rgb(136, 69, 31);
}

* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: var(--primary-color)
}


#root {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
}

/* .page-content {
    position: absolute;
    top: 400px;
    left: 0px;
    width: 100%;
    overflow-y: auto;
} */

.gallery-page {
    display: grid;
    grid-template-columns: 33.3333333333% 33.3333333333% 33.3333333333%;
    margin-top: 2%;
}

.gallery-tile {
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
}

.tile-name {
    display: flex;
    justify-content: center;
}

.background-image {
    height: 400px;
}

.background-image > img {
    height: 400px;
    width: 100%;
    margin: 0;
}

img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

button {
    cursor: pointer;
    border: none;
    width: 6em;
    height: 32px;
    font-size: 0.96em;
    color: lightgray;
    background-color: var(--secondary-color)
}

.fa-edit {
    cursor: pointer;
    font-size: 25px;
}

.selected {
    box-shadow: 3px 3px 3px 3px var(--primary-color)
}

/* Forms */

form {
    width: 85%;
    margin: auto;
}

form input {
    margin-bottom: 1em;
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    height: 2.5em;
}

.form-errors div {
    margin-bottom: 5%;
}

.form-buttons-div {
    margin: auto;
    width: fit-content;
}

.login-form {
    padding-bottom: 3%;
}

.signup-form {
    padding-bottom: 3%;
}

.edit-user-form {
    padding: 2em 2em;
    width: 100%
}

.edit-user-form .form-buttons-div {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.delete-account-button-div {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.3em
}

.delete-account-button {
    height: 3em;
    width: 8em;
}

.suggestion-form {
    padding: 2em 1.5em;
    width: 100%
}

.suggestion-form .form-buttons-div {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.radio {
    width: 7%;
    height: 1.2em;
    margin-right: 0.5em;
    margin-bottom: 1em;
}

.radio-label {
    font-size: 1.05em;
}

.form-suggestion-title input {
    margin-bottom: 1.5em;
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    height: 2.5em;
}

.form-suggestion-description textarea {
    margin-bottom: 1.5em;
    border-bottom: 1px solid black;
    width: 100%;
    height: 3em;
    resize: none;
}

.form-suggestion-description textarea::placeholder {
    position: relative;
    top: 55%;
}

.form-image-upload input {
    margin-bottom: 1.5em;
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    height: 2.5em;
}


.edit-suggestion-form {

}

.edit-comment-form {

}

.delete-modal {

}

.about-modal {

}

.about {

}

