* {
    box-sizing: border-box;
}

#root {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
}

img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}