* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

#root {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
}

.page {
    position: absolute;
    top: 60px;
    width: 100vw;
    height: calc(100vh - 60px);
    overflow-y: auto;
}

.gallery-page {
    display: grid;
    grid-template-columns: 33.3333333333% 33.3333333333% 33.3333333333%;
    margin-top: 2%;
}

.gallery-tile {
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
}

.tile-name {
    display: flex;
    justify-content: center;
}

img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}