nav * {
    color: purple
}

nav {
    display: grid;
    position: fixed;
    grid-template-columns: 10% 10% 10% 10% 20% 20% 20%;
    top: 0px;
    width: 100vw;
    height: 100px;
    border-bottom: 1px solid black;
    background: transparent;
}

.search-div input {
    width: 100%;
}

.navigation-auth {
    display: flex;
    width: 100vw;
}

.navigation-auth button {
    width: 3%
}

