nav * {
    margin: auto;
}

nav {
    display: grid;
    position: fixed;
    grid-template-columns: 33.333333333333333333333333333333% 33.333333333333333333333333333333% 33.333333333333333333333333333333%;
    grid-template-areas:
    "links search auth";
    top: 0px;
    width: 100vw;
    height: 60px;
    z-index: 2;
    border-bottom: 1px solid black;
}

nav a {
    font-size: 1.2em;
    color: white;
}

.nav-links-div {
    grid-area: links;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.search-div {
    grid-area: search;
    display: flex;
    justify-content: center;
    width: 100%;
}

.search-div input {
    width: 75%;
}

/* .search-div .fa-search {

} */

.welcome-message {
    color: white;
}

.navigation-auth {
    grid-area: auth;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

nav button {
    width: 5.5em;
    height: 1.8em;
}