nav * {
    margin: auto;
}

.navigation-default {
    display: grid;
    position: fixed;
    grid-template-columns: 33.333333333333333333333333333333% 33.333333333333333333333333333333% 33.333333333333333333333333333333%;
    grid-template-areas:
    "links search auth";
    top: 0px;
    width: 100%;
    height: 60px;
    z-index: 2;
    border-bottom: 1px solid white;
}

.navigation-scrolled {
    display: grid;
    position: fixed;
    grid-template-columns: 33.333333333333333333333333333333% 33.333333333333333333333333333333% 33.333333333333333333333333333333%;
    grid-template-areas:
    "links search auth";
    top: 0px;
    width: 100%;
    height: 60px;
    z-index: 2;
    background-color: rgb(28, 145, 101)
}

.logo-image-div {
    width: 100%;
    height: 100%;
    margin: 0;
}

.nav-links-div > a:first-child {
    width: 207px;
}

.logo-image {
    position: relative;
    top: 2px;
    height: 55px;
    width: 100%;
    object-fit: scale-down;
}

nav a {
    font-size: 1.2em;
    color: white;
}

.nav-links-div {
    grid-area: links;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.search-div {
    grid-area: search;
    display: flex;
    justify-content: center;
    width: 100%;
}

.search-form {
    width: 80%;
    position: relative;
}

.search-form > input {
    height: 2em;
    width: 100%;
    padding-left: 2em;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.5);
}

.navigation-scrolled input {
    border: 1px solid white;
}

.search-form .fa-search {
    position: absolute;
    top: 20%;
    left: 0.3em;
    opacity: 0.5;
    color: white;
}

::placeholder {
    color: lightgray;
    padding-left: 0.3em;
}

.welcome-message {
    color: white;
}

.navigation-auth {
    grid-area: auth;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}