.suggestion-conditional-buttons-div {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2%
    /* position: fixed; */
}

.suggestion-conditional-buttons-div button {
    width: 11%;
    height: 35px;
    margin-right: 1em;
}