.suggestion-tile {  
    display: grid;
    grid-template-columns: 400px 5% 1fr;
    grid-template-areas:
    "image . body";
    margin: 3% 15% 0 15%;
}

.suggestion-tile-flipped {
    display: grid;
    grid-template-columns: 1fr 5% 400px;
    grid-template-areas:
    "body . image";
    margin: 3% 15% 0 15%;
}

.suggestion-tile-image-div {
    grid-area: image;
    width: fit-content
}

.suggestion-tile-body {
    grid-area: body;
    overflow-wrap: break-word;
}

.suggestion-tile-description {
    font-size: 1.5em;
}

.suggestion-auth-buttons-div {
    display: flex;
    justify-content: center;
    width: 100%;
}

.suggestion-auth-buttons-div button {
    width: 18%;
    height: 30px;
    margin-right: 1em;
}

.suggestion-title {
    font-size: 1.75em;
}


