.comment-form {
    margin-top: 2em;
    width: 100%;
    height: 100%;
    position: relative;
    top: 3em;
    right: 10.3%;
}

.comment-input-div {
    height: 100%;
}

.comment-input-div textarea {
    resize: none;
    width: 50%;
    height: 2.65rem;

}

textarea::placeholder {
    color: gray;
    position: relative;
    top: 20%;
    font-size: 1.3em
}

.comment-submit-div {
    
}

.comment-submit-div button {

}

.all-comments {

}

.comment-div {
    
}

.comment-image {
    border-radius: 50%;
    width: 4em;
    height: 4em;
    margin: 1em 1em 0 0;
    border: 1px solid black;
}

.comment-text-div {
    
}

.comment-username {

}

.comment-content {

}

.comment-auth-buttons-div {
    
}

.comment-edit-button {

}

.comment-delete-button {

}