.all-comments {
    margin-top: 3em;
}

.comment-div {
    display: flex;
    margin-bottom: 2%;
}

.comment-image {
    border-radius: 50%;
    width: 4em;
    height: 4em;
    margin: 1em 1em 0 0;
    border: 1px solid black;
}

.comment-text-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-wrap: break-word;
}

.comment-buttons {
    width: 20%;
    display: flex;
}

.comment-buttons button {
    width: 7em;
    margin-right: 2%
}

.comment-username {
    margin-bottom: 0;
}

/*

.comment-content {

}

.comment-auth-buttons-div {

}

.comment-edit-button {

}

.comment-delete-button {

} 

*/