.all-comments {
    margin-top: 3em;
}

/* .comment-div {
    
}  */

.comment-image {
    border-radius: 50%;
    width: 4em;
    height: 4em;
    margin: 1em 1em 0 0;
    border: 1px solid black;
}

/* .comment-text-div {
    
}

.comment-username {

}

.comment-content {

}

.comment-auth-buttons-div {
    
}

.comment-edit-button {

}

.comment-delete-button {

} */