#modal {
    position: fixed;
    top: 0%;
    right: 0;
    left: 0;
    bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
    position: absolute;
    background-color: white;
    padding: 2% 4% 2%;
    border: 2px solid black;
} 

.login-modal, .signup-modal {
    width: 25%;
}

.auth-forms {
    display: flex;
    justify-content: space-evenly;
}

.auth-header {
    text-align: center;
}

.auth-modal {
    width: 50%;
}
