.comment-form-div {
    width: fit-content;
}

.comment-form-image {
    border-radius: 50%;
    width: 4em;
    height: 4em;
    margin: 1em 1em 0 0;
    border: 1px solid black;
}

.comment-form-text {
    position: relative;
    bottom: 2.8em;
    left: 0.5em;
}

.comment-input-div {
    width: fit-content;
    position: relative;
    left: 5.5em;
    bottom: 2em;
}

.comment-input-div textarea {
    resize: none;
    width: 50em;
    height: 2.65rem;
}

textarea::placeholder {
    color: gray;
    position: relative;
    top: 20%;
    font-size: 1.3em
}

.comment-form-buttons-div {
    position: relative;
    bottom: 1.7em;
    left: 4.5em
}

.comment-form-buttons-div button {
    width: 10em;
    margin-left: 1em;
}